# Process causality project

In [1]:
from environment import *

case_id = 'case:concept:name'
activity_id = 'concept:name'

## Simulation
In order to have two versions of a process, we decided to create our own processes. For this purpose, we created two bpmn models representing a basic version of an order-to-cash process and a changed version. For a better understanding of the process, we created a so-called set of rules representing the activities.

In [2]:
unchanged_basic_ruleset = [
    "Check stock availability",
    "Check raw materials availability",
    (
        [
            "Request raw materials from Supplier 1",
            "Obtain raw materials from Supplier 1"
        ],
        [
            "Request raw materials from Supplier 2",
            "Obtain raw materials from Supplier 2"
        ]
    ),
    "Manufacture product",
    "Retrieve product from warehouse",
    "Confirm order",
    (
        [
            "Get shipping address",
            "Ship product"
        ],
        [
            "Emit invoice",
            "Receive Payment"
        ]
    ),
    "Archive order"
]
changed_basic_ruleset = [
    "Check stock availability",
    "Check raw materials availability",
    "Notify unavailability to customer",
    (
        "Request raw materials from Supplier 1",
        "Request raw materials from Supplier 2"
    ),
    (
        "Obtain raw materials from Supplier 1",
        "Obtain raw materials from Supplier 2"
    ),
    "Manufacture product",
    "Retrieve product from warehouse",
    "Confirm order",
    "Get shipping address",
    (
        "Ship product",
        [
            "Emit invoice",
            "Receive Payment"
        ]
    ),
    "Archive order"
]
print(unchanged_basic_ruleset)
print(changed_basic_ruleset)

['Check stock availability', 'Check raw materials availability', (['Request raw materials from Supplier 1', 'Obtain raw materials from Supplier 1'], ['Request raw materials from Supplier 2', 'Obtain raw materials from Supplier 2']), 'Manufacture product', 'Retrieve product from warehouse', 'Confirm order', (['Get shipping address', 'Ship product'], ['Emit invoice', 'Receive Payment']), 'Archive order']
['Check stock availability', 'Check raw materials availability', 'Notify unavailability to customer', ('Request raw materials from Supplier 1', 'Request raw materials from Supplier 2'), ('Obtain raw materials from Supplier 1', 'Obtain raw materials from Supplier 2'), 'Manufacture product', 'Retrieve product from warehouse', 'Confirm order', 'Get shipping address', ('Ship product', ['Emit invoice', 'Receive Payment']), 'Archive order']

These activities define two similar but different processes. For experimentation, we can now load the bpmn's and simulate some event logs.

In [3]:
from source.misc import read_bpmn
from source.simulation import basic_bpmn_petri_net

unchanged_bpmn = read_bpmn(BPMN_DIR_PATH,'Order-to-Cash-Model-1.bpmn')
changed_bpmn = read_bpmn(BPMN_DIR_PATH,'Order-to-Cash-Model-2.bpmn')

unchanged_eventlog = basic_bpmn_petri_net(unchanged_bpmn)
changed_eventlog = basic_bpmn_petri_net(changed_bpmn)

print(unchanged_eventlog)
print(changed_eventlog)

                          concept:name      time:timestamp case:concept:name
0             Check stock availability 1970-04-26 19:46:40             C0000
1      Retrieve product from warehouse 1970-04-26 19:46:41             C0000
2                        Confirm order 1970-04-26 19:46:42             C0000
3                         Emit invoice 1970-04-26 19:46:43             C0000
4                      Receive Payment 1970-04-26 19:46:44             C0000
...                                ...                 ...               ...
10415             Get shipping address 1970-04-26 22:40:15             C0999
10416                     Ship product 1970-04-26 22:40:16             C0999
10417                     Emit invoice 1970-04-26 22:40:17             C0999
10418                  Receive Payment 1970-04-26 22:40:18             C0999
10419                    Archive order 1970-04-26 22:40:19             C0999

[10420 rows x 3 columns]
                           concept:name      time:timestamp case:concept:name
0              Check stock availability 1970-04-26 19:46:40             C0000
1      Check raw materials availability 1970-04-26 19:46:41             C0000
2     Notify unavailability to customer 1970-04-26 19:46:42             C0000
3              Check stock availability 1970-04-26 19:46:43             C0001
4      Check raw materials availability 1970-04-26 19:46:44             C0001
...                                 ...                 ...               ...
5445                      Confirm order 1970-04-26 21:17:25             C0999
5446                       Ship product 1970-04-26 21:17:26             C0999
5447                       Emit invoice 1970-04-26 21:17:27             C0999
5448                    Receive Payment 1970-04-26 21:17:28             C0999
5449                      Archive order 1970-04-26 21:17:29             C0999

[5450 rows x 3 columns]

Despite having courios timestamps, both processes are simulated according to the bpmn. If we now apply some scenario data for the processes, we can get a more realistic version. But let's look at the scenarios first.

In [4]:
from source.misc import get_scenario

unchanged_scenario = get_scenario(SIMULATION_DATA_DIR_PATH, 'Order-to-Cash_unchanged.csv')
changed_scenario = get_scenario(SIMULATION_DATA_DIR_PATH, 'Order-to-Cash_changed.csv')

In [5]:
print('unchanged_scenario')
for kpi in unchanged_scenario:
    print('   kpi      :',kpi)
    print('   apply_to :', unchanged_scenario[kpi]['apply_to'])
    for activity, function in unchanged_scenario[kpi]['functions'].items():
        print('      ', activity+' '*(38-len(activity)), ':', function)
print('changed_scenario')
for kpi in changed_scenario:
    print('   kpi      :',kpi)
    print('   apply_to :', changed_scenario[kpi]['apply_to'])
    for activity, function in changed_scenario[kpi]['functions'].items():
        print('      ', activity+' '*(38-len(activity)), ':', function)

unchanged_scenario
   kpi      : time
   apply_to : None
       Check stock availability               : <function get_scenario.<locals>.<lambda> at 0x00000242B8AD8C10>
       Check raw materials availability       : <function get_scenario.<locals>.<lambda> at 0x00000243A6C719D0>
       Request raw materials from Supplier 1  : <function get_scenario.<locals>.<lambda> at 0x00000243A6C71CA0>
       Request raw materials from Supplier 2  : <function get_scenario.<locals>.<lambda> at 0x00000243A6C71DC0>
       Obtain raw materials from Supplier 1   : <function get_scenario.<locals>.<lambda> at 0x00000243A6C71EE0>
       Obtain raw materials from Supplier 2   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06040>
       Manufacture product                    : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06160>
       Retrieve product from warehouse        : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06280>
       Confirm order                          : <function get_scenario.<locals>.<lambda> at 0x00000243A6D063A0>
       Get shipping address                   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D064C0>
       Ship product                           : <function get_scenario.<locals>.<lambda> at 0x00000243A6D065E0>
       Emit invoice                           : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06700>
       Receive Payment                        : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06820>
       Archive order                          : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06940>
   kpi      : cost
   apply_to : time
       Check stock availability               : <function get_scenario.<locals>.<lambda> at 0x00000243A6C710D0>
       Check raw materials availability       : <function get_scenario.<locals>.<lambda> at 0x00000243A6C71C10>
       Request raw materials from Supplier 1  : <function get_scenario.<locals>.<lambda> at 0x00000243A6C71D30>
       Request raw materials from Supplier 2  : <function get_scenario.<locals>.<lambda> at 0x00000243A6C71E50>
       Obtain raw materials from Supplier 1   : <function get_scenario.<locals>.<lambda> at 0x00000243A6C71F70>
       Obtain raw materials from Supplier 2   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D060D0>
       Manufacture product                    : <function get_scenario.<locals>.<lambda> at 0x00000243A6D061F0>
       Retrieve product from warehouse        : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06310>
       Confirm order                          : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06430>
       Get shipping address                   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06550>
       Ship product                           : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06670>
       Emit invoice                           : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06790>
       Receive Payment                        : <function get_scenario.<locals>.<lambda> at 0x00000243A6D068B0>
       Archive order                          : <function get_scenario.<locals>.<lambda> at 0x00000243A6D069D0>
changed_scenario
   kpi      : time
   apply_to : None
       Check stock availability               : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06B80>
       Check raw materials availability       : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06A60>
       Notify unavailability to customer      : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06CA0>
       Request raw materials from Supplier 1  : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06DC0>
       Request raw materials from Supplier 2  : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06EE0>
       Obtain raw materials from Supplier 1   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04040>
       Obtain raw materials from Supplier 2   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04160>
       Manufacture product                    : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04280>
       Retrieve product from warehouse        : <function get_scenario.<locals>.<lambda> at 0x00000243A6D043A0>
       Confirm order                          : <function get_scenario.<locals>.<lambda> at 0x00000243A6D044C0>
       Get shipping address                   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D045E0>
       Ship product                           : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04700>
       Emit invoice                           : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04820>
       Receive Payment                        : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04940>
       Archive order                          : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04A60>
   kpi      : cost
   apply_to : time
       Check stock availability               : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06AF0>
       Check raw materials availability       : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06C10>
       Notify unavailability to customer      : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06D30>
       Request raw materials from Supplier 1  : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06E50>
       Request raw materials from Supplier 2  : <function get_scenario.<locals>.<lambda> at 0x00000243A6D06F70>
       Obtain raw materials from Supplier 1   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D040D0>
       Obtain raw materials from Supplier 2   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D041F0>
       Manufacture product                    : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04310>
       Retrieve product from warehouse        : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04430>
       Confirm order                          : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04550>
       Get shipping address                   : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04670>
       Ship product                           : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04790>
       Emit invoice                           : <function get_scenario.<locals>.<lambda> at 0x00000243A6D048B0>
       Receive Payment                        : <function get_scenario.<locals>.<lambda> at 0x00000243A6D049D0>
       Archive order                          : <function get_scenario.<locals>.<lambda> at 0x00000243A6D04AF0>

It is hard to see, but all activities have been assigned functions to simulate the behavior in a process flow. If we now apply these methods, we get a more realistic event log.

In [6]:
from source.operation import apply_scenario

unchanged_eventlog = apply_scenario(unchanged_eventlog, unchanged_scenario, activity_id)
changed_eventlog = apply_scenario(changed_eventlog, changed_scenario, activity_id)

In [7]:
unchanged_eventlog[unchanged_eventlog[case_id].isin(['C0001','C0002','C0003'])].style

In [8]:
changed_eventlog[changed_eventlog[case_id].isin(['C0001','C0002','C0003'])].style

## Data Transformation
Now, to get a view more suitable for machine learning, we can convert the event logs into case tables.

In [9]:
from source.operation import to_case_table

unchanged_case_table = to_case_table(unchanged_eventlog, case_id, activity_id, fillna=0, aggregate={'cost':'sum','time':'sum'})
changed_case_table = to_case_table(changed_eventlog, case_id, activity_id, fillna=0, aggregate={'cost':'sum','time':'sum'})

In [10]:
unchanged_case_table[:10].transpose().style

In [11]:
changed_case_table[:10].transpose().style

Finally, we can apply the defined rules and calculate the result. In this case, the times are in hours and the costs are in euros.

In [12]:
from source.operation import calculate_outcome

unchanged_ruleset = {'time':unchanged_basic_ruleset,'cost':None}
changed_ruleset = {'time':changed_basic_ruleset,'cost':None}

unchanged_case_table = calculate_outcome(unchanged_case_table, unchanged_ruleset)
changed_case_table = calculate_outcome(changed_case_table, changed_ruleset)

In [13]:
unchanged_case_table[[case_id,'time','cost']][:10].style

In [14]:
changed_case_table[[case_id,'time','cost']][:10].style

In [15]:
unchanged_case_table.to_csv(CASE_TABLE_DIR_PATH/'unchanged.csv', index=False)
changed_case_table.to_csv(CASE_TABLE_DIR_PATH/'changed.csv', index=False)

## Machine Learning
However, in order to be able to implement our idea, preparation is still required. Since machine learning is involved in the end, it is necessary to take a closer look at the data and process it further if necessary.
### Preprocessing

In [16]:
unchanged_case_table.describe().style

In [17]:
changed_case_table.describe().style

As can be seen, there are features on both sides that have no standard deviation or have a standard deviation close to zero due to the way they are represented. Furthermore, it is known that some characteristics can carry the same information due to the way they are represented. This is the case if a process step is always performed the same number of times and at the same times and costs (e.g., automatic invoice dispatch). Therefore, it must be checked whether there are features that carry identical information on an aligned scale.

In [18]:
from source.features import prepare_features

prepared_unchanged_case_table, prepared_changed_case_table = prepare_features(unchanged_case_table, changed_case_table)

In [19]:
prepared_unchanged_case_table.describe().style

In [20]:
prepared_changed_case_table.describe().style

### Validation
The next step is to divide the characteristics into generic and modified characteristics. The generic features describe the information that is absolutely necessary to represent the process as a model.

In [21]:
generic_features = prepared_unchanged_case_table.drop(columns=['case:concept:name','time','cost']).columns
for feature in generic_features:
    print(feature)

cost Manufacture product
cost Obtain raw materials from Supplier 1
cost Obtain raw materials from Supplier 2
cost Request raw materials from Supplier 1
cost Request raw materials from Supplier 2
cost Retrieve product from warehouse
cost Ship product
Num of Check raw materials availability
Num of Manufacture product
Num of Obtain raw materials from Supplier 1
Num of Obtain raw materials from Supplier 2
Num of Request raw materials from Supplier 1
Num of Request raw materials from Supplier 2
Num of Retrieve product from warehouse

The next step is to find out, which of these characteristics best describe the process. For this we need to choose a model. In this case, we use a regression model that is as simple as possible. Since the calculation of the KPIs is about linear functions, the use of a linear regression is obvious. In addition, all Sklearn compliant estimators are supported. The score is given as a negative mean square error. This means that greater is better or closer to zero is better.

In [22]:
from source.causality import feature_tracing
from sklearn.linear_model import LinearRegression

unchanged_time_feature_table = feature_tracing(LinearRegression(), prepared_unchanged_case_table, generic_features, 'time').sort_values('score', ascending=False)
unchanged_cost_feature_table = feature_tracing(LinearRegression(), prepared_unchanged_case_table, generic_features, 'cost').sort_values('score', ascending=False)

In [23]:
print('feature table for time:')
unchanged_time_feature_table.style.format({'score': '{:.64f}'})

feature table for time:

In [24]:
print('feature table for cost:')
unchanged_cost_feature_table.style.format({'score': '{:.64f}'})

feature table for cost:

Using these tables, we can now determine the really important features.

In [25]:
time_features = unchanged_time_feature_table.iloc[0]['features']
print('time features:')
print(time_features)
cost_features = unchanged_cost_feature_table.iloc[0]['features']
print('cost features:')
print(cost_features)

time features:
['cost Manufacture product', 'cost Ship product', 'cost Request raw materials from Supplier 2', 'cost Retrieve product from warehouse', 'cost Request raw materials from Supplier 1', 'cost Obtain raw materials from Supplier 1', 'cost Obtain raw materials from Supplier 2', 'Num of Retrieve product from warehouse']
cost features:
['Num of Check raw materials availability', 'cost Ship product', 'cost Retrieve product from warehouse', 'cost Request raw materials from Supplier 1', 'cost Manufacture product', 'cost Request raw materials from Supplier 2', 'cost Obtain raw materials from Supplier 1', 'cost Obtain raw materials from Supplier 2', 'Num of Manufacture product', 'Num of Obtain raw materials from Supplier 1', 'Num of Request raw materials from Supplier 2']

### Causality Checking
Now we have made all the preparations to start the actual causality check. For this we use the generic features, as well as the associated data. The only thing left to do is to choose a model. We have already decided to use linear regression at the beginning. Therefore it is obvious to use one here as well.<br>
First, we determine the difference between what the unchanged process would output as a result under the same circumstances and what the changed process actually has as a result.

In [26]:
from source.causality import calculate_difference, UNCHANGED_PREDICTION, DIFFERENCE

time_difference = calculate_difference(LinearRegression(), prepared_unchanged_case_table, prepared_changed_case_table, 'time', time_features)
CHANGE = 'change relative'
time_difference[CHANGE] = time_difference[UNCHANGED_PREDICTION]/time_difference['time']
cost_difference = calculate_difference(LinearRegression(), prepared_unchanged_case_table, prepared_changed_case_table, 'cost', cost_features)
cost_difference[CHANGE] = cost_difference[UNCHANGED_PREDICTION]/cost_difference['cost']

In [27]:
print('time difference:')
time_difference[['time',UNCHANGED_PREDICTION,DIFFERENCE,CHANGE]][:10].style

time difference:

In [28]:
print('cost difference:')
cost_difference[['cost',UNCHANGED_PREDICTION,DIFFERENCE,CHANGE]][:10].style

cost difference:

In the next step we have to try to explain the difference. For this we can use the same function that we used to examine the generic features. This time, however, we take the features of the changed process. The result can be interpreted in such a way that the better the combination of features can explain the difference, the more likely we can speak of a causality from the changes in the features and the changes in the result.<br>
For the score, the larger it is, the better the difference can be explained. By default, it is the negative mean squared error. That is, the closer the value tends to zero (becomes larger, with the absolute value becoming smaller), the more accurately the difference could be explained. However, the methods support all measurement variants implemented by Sklearn.

In [29]:
time_difference_features = time_difference.drop(columns=['case:concept:name','time','cost',UNCHANGED_PREDICTION,DIFFERENCE,CHANGE]).columns.tolist()
time_explanation = feature_tracing(LinearRegression(), time_difference, time_difference_features, 'time').sort_values('score', ascending=False)
cost_difference_features = cost_difference.drop(columns=['case:concept:name','time','cost',UNCHANGED_PREDICTION,DIFFERENCE,CHANGE]).columns.tolist()
cost_explanation = feature_tracing(LinearRegression(), cost_difference, cost_difference_features, 'cost').sort_values('score', ascending=False)

In [30]:
print('time explanation:')
time_explanation.style.format({'score': '{:.64f}'})

time explanation:

In [31]:
print('cost explanation:')
cost_explanation.style.format({'score': '{:.64f}'})

cost explanation:

In [32]:
time_explanation.to_csv(CAUSALITY_FEATURE_TABLES_PATH/'time_explanation.csv', index=False)
cost_explanation.to_csv(CAUSALITY_FEATURE_TABLES_PATH/'cost_explanation.csv', index=False)

The last thing we can look at now is which combination of features provides the best explanation.

In [33]:
print('best time explanation:')
best_time_explanation = time_explanation.sort_values('score', ascending=False)
print('features:', best_time_explanation.iloc[0,0])
print('score:', best_time_explanation.iloc[0,2])
print('best cost explanation:')
best_cost_explanation = cost_explanation.sort_values('score', ascending=False)
print('features:', best_cost_explanation.iloc[0,0])
print('score:', best_cost_explanation.iloc[0,2])

best time explanation:
features: ['Num of Archive order', 'cost Manufacture product', 'cost Obtain raw materials from Supplier 1', 'cost Obtain raw materials from Supplier 2', 'cost Retrieve product from warehouse', 'Num of Retrieve product from warehouse', 'Num of Notify unavailability to customer', 'Num of Confirm order']
score: -1.3630562228705487e-07
best cost explanation:
features: ['Num of Archive order', 'cost Manufacture product', 'cost Obtain raw materials from Supplier 2', 'cost Ship product', 'cost Obtain raw materials from Supplier 1', 'cost Retrieve product from warehouse', 'Num of Retrieve product from warehouse', 'Num of Confirm order', 'Num of Emit invoice', 'Num of Check raw materials availability']
score: -1.0048510210705248e-29